<ion-header>
  <ion-toolbar color="dark">
    <ion-grid>
      <ion-row>
        <ion-col offset="5">
          <ion-title>الموقع</ion-title>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
    
    
    
      
     


<ion-content [fullscreen]="true"> 
  <ion-item  lines="none" color="light"> </ion-item>
  <ion-item lines="none" color="light"></ion-item>
  <ion-item lines="none"color="warning" >
    
    اهلا بك , يمكنك زيارتنا في اي وقت 
  </ion-item>
  <div #mapElement id="mymap" class="map"></div>



</ion-content>

<ion-tab-bar slot="bottom" color="light">

  
  
  <ion-tab-button tab="Google" (click)="moveGoogle()">
  <ion-icon color="dark" name="home-sharp"></ion-icon>
  <ion-label>الموقع</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="Home" (click)="movehome()">
    <ion-icon color="dark" name="person-circle-sharp"></ion-icon>
    <ion-label>الصفحة الرئيسية</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="Profile" (click)="moveshow()">
  <ion-icon name="calendar-sharp" color="dark"></ion-icon>
  <ion-label>الملف الشخصي</ion-label>
  </ion-tab-button>
  
 

 </ion-tab-bar>


